.home-items {
    display: flex;
    flex-wrap: wrap;
}

.home {
    margin-top: 50px;
}

.home-items>div {
    width: 50%;
}

@media screen and (max-width: 735px) {
    .home-items>div {
        width: 100%;
    }
}
